@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-3">If you are a car enthusiast...</h3>
    <h3 class="display-5">... you are definitely at the right place!</h3>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd27giT3__-dRcGb3-uEsyV6Mib07mymmqig&s"
</div>
